/* Navbar logo */

.enlarge-on-cursor-hover {
  cursor: pointer;
  transition: transform 0.7s ease;
}

.enlarge-on-cursor-hover:hover {
  transform: scale(1.1);
}

/* Adjust the level of scrolling when clicking on the navbar links */

html {
  scroll-padding-top: 82px;
}

/* On mobile mobile 82px didn't scroll enough */
@media (max-width: 768px) {
  html {
    scroll-margin-top: 60px;
  }
}

/* WhatsApp button */

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  padding: 10px 17px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 22px;
  text-decoration: none;
  z-index: 1000;
  transition: transform 0.7s ease;
}

@media (max-width: 768px) {
  .whatsapp-button {
    font-size: 30px;
  }
}

.whatsapp-button:hover {
  background-color: #1ebe57;
  color: white;
  transform: scale(1.05);
}

/* Headings style */

.heading-1 {
  text-align: center;
  margin-bottom: 0.5rem; /* mb-2 */
  padding: 0.5rem; /* p-2 */
  text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.3); /* Adjust values as needed */
}

/* Products and services styles and animations */

.product-image-bg-color {
  background: #f1f1f1;
}

.service-image-bg-color {
  background: #d9d9d9;
}

@keyframes appear-growing {
  from {
    opacity: 0;
    filter: blur(1px);
    scale: 0.5;
  }
  to {
    opacity: 1;
    filter: blur(0);
    scale: 1;
  }
}

@keyframes appear-sliding-from-left {
  from {
    opacity: 0;
    filter: blur(1px);
    scale: 0.5;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    scale: 1;
    transform: translateX(0px);
  }
}

@keyframes appear-sliding-from-right {
  from {
    opacity: 0;
    filter: blur(1px);
    scale: 0.5;
    transform: translateX(+100px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    scale: 1;
    transform: translateX(0px);
  }
}

@media (min-width: 768px) {
  .animated-appear-growing {
    animation: appear-growing linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }
}

@media (max-width: 767px) {
  .animated-appear-sliding-from-left {
    opacity: 0;
    animation: appear-sliding-from-left linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }

  .animated-appear-sliding-from-right {
    opacity: 0;
    animation: appear-sliding-from-right linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }
}

/* Nosotros logo */

@keyframes logo-appear-growing {
  from {
    opacity: 0;
    transform: scale(0.5);
    filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.6));
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: drop-shadow(-5px 5px 4px rgba(0, 0, 0, 0.6));
  }
}

@keyframes description-appear-growing {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@media (min-width: 768px) {
  .animated-appear-growing-for-logo {
    animation: logo-appear-growing 5s ease-out;
    filter: drop-shadow(-5px 5px 4px rgba(0, 0, 0, 0.6));
    transition: transform 0.7s ease, filter 0.7s ease;
  }

  .animated-appear-growing-for-logo:hover {
    transform: scale(1.01);
    filter: drop-shadow(-10px 10px 7px rgba(0, 0, 0, 0.6));
  }

  .animated-appear-growing-for-description {
    animation: description-appear-growing 5s ease-out forwards;
    transition: transform 0.7s ease;
  }
}

@media (max-width: 767px) {
  .animated-appear-growing-for-logo {
    opacity: 0;
    animation: logo-appear-growing linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }

  .animated-appear-growing-for-description {
    opacity: 0;
    animation: description-appear-growing linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }
}

/* Background images */

.nosotros-section-bg-image {
  background-image: url("./../assets/background_5.svg"), url("./../assets/background_6.svg");
  background-repeat: no-repeat;
}

.products-and-services-section-bg-image {
  background-image: url("./../assets/background_1.svg");
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .nosotros-section-bg-image {
    background-position: -500px -0px, 350px 250px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .nosotros-section-bg-image {
    background-position: -275px -0px, 380px 75px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .nosotros-section-bg-image {
    background-position: -275px -0px, 600px 10px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .nosotros-section-bg-image {
    background-position: -200px -0px, 800px -0px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .nosotros-section-bg-image {
    background-position: -200px -0px, 930px -25px;
  }
}

/* Extra-extra large devices (very large desktops, 1400px and up) */
@media (min-width: 1400px) {
  .nosotros-section-bg-image {
    background-position: -160px -0px, 1150px -80px;
  }
}
